@import "normalize.css";
@import "flex.css";
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: content-box;
}
body {
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(135deg,#999999,#66A3D2);
  }
 body p,
 body a,
 body h1 {
     color: white;
     font-family: sans-serif;

 }
.container {
    height: 100vh;
}
.eng  {
    text-align: right;
    }
.ru  {
    text-align: left;
}
.eng p,
.ru p {
    color: black;
    margin: 0 0.3rem;
	font-size: .8rem;
}
nav {
    background: rgba(26, 74, 137, 0.8);
    text-align: center;
    }
nav a {
        display: inline-block;
        padding: 1rem 0;
        text-transform: uppercase;
    }
nav a:hover {
        background: rgba(69, 175, 175, 0.8);
}
header {
    margin-bottom: 1rem;
}
.logo {
    background: rgba(69, 175, 175, 0.8);
    margin-right: 1rem;
    }
.logo a {
    display: flex;
    justify-content: center;
    align-content: center;
    transform: rotate(-90deg);
    height: 100%;
    }
.logo a img {
    width: 400%;
	height: auto;
	}
.main_height {
    height: calc(100vh - 6rem);
}
.border {
    border: .15rem solid white;
}
.servise {
    height: calc(55% - .5rem);
    width: 100%;
    max-width:600px;/* вопрос по ширине, чтобы картинка входила полностью*/
    margin-bottom: .5rem;
    overflow: hidden;
    }

#slider li {
    display: none;
    position: relative;
}

#slider li.active {
    display: block;
}

#slider ul {
    padding: 0;
    margin: 0;
}
#slider div.servise_info{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 50%;
    height: 50%;
    }
#slider h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: .3rem 2rem;
    }
#slider li img {
    width: 100%;
    margin-top: -10%;
    }
#slider p {
    font-size: 1em;
    margin: .3rem;
    }

.main_idea {
    text-align: right;
    }
.main_idea p {
    text-transform: uppercase;
    font-size: 1.5rem;

    }

.pf-height{
    height: calc(45% - 3.7rem);
    margin: .5rem 0 1rem 0;
    }
.partners {
    height: 100%;
    margin-right: 1rem;
    }
 .forms {
    height: 100%;
    }
.business_card_qr {
    height: 40%;
    position: relative;
    margin-left: 1rem;
    text-align: center;
    }
.business_card_qr p {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 20%;/* вопрос по центрированию элемента*/
    }
.business_card_qr:hover .front {
        transform: rotateX(180deg);
    }
.business_card_qr:hover .back {
        transform: rotateX(0deg);
    }
.business_card_qr .back {
        transform: rotateX(-180deg);
    }
.business_card_qr .front,
.business_card_qr .back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.8s ease-in;
    /*    background-color: orangered;*/
        backface-visibility: hidden;
    }
.business_card_qr .back {
        background: url("../img/qr-contact.png");
        background-size: 80%;
        background-position: center center;
        background-repeat: no-repeat;
    }

.news-box {
    height: 60%;
    margin: 1rem 0 1rem 1rem;
    overflow: auto;
    }
.news-box .container {
    border-top: .1rem solid white;
    }
.news-box .container :nth-child(1) {
    font-weight: bold;
    font-size: .9rem;
    }
.news-box .container :nth-child(2) {
    margin: .5rem 0 .5rem 1rem;
    font-size: .9rem;
    }
.news-box .container :nth-child(3) {
    font-style: italic;
    font-size: .9rem;
    }


/*.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.cards h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    margin: 20px auto;
}
.cards-2 h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin: 20px auto;
}*/
.top-left {
  position: relative;
}
.top-left:before, .top-left:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;

}
.top-left:before {
  bottom: -3px;
  width: 3px;
  background-image: -webkit-linear-gradient(#fff, transparent);
  background-image: -moz-linear-gradient(#fff, transparent);
  background-image: -o-linear-gradient(#fff, transparent);
}
.top-left:after {
  right: -3px;
  height: 3px;
  background-image: -webkit-linear-gradient(left, #fff, transparent);
  background-image: -moz-linear-gradient(left, #fff, transparent);
  background-image: -o-linear-gradient(left, #fff, transparent);
}
